<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>

    <!-- Navbar Partial -->
    <%- include ("./partials/nav.ejs")  %>

    <div class="container-fluid">

        
        <div class="jumbotron">
            <h1 class="display-3">
                Welcome to
                <b>
                    The Free Thought Project
                </b>
            </h1>
            <p class="lead">
                Write your ideas, thoughts, messages, posts etc. All posts written will be public and completelly
                <b>anonymous</b>.
            </p>



            <hr class="my-4" />

            <p class="lead">
                All posts are permanent and uncensored and will not be
                taken, unless they contain content that is related to
                hate speech, self harm or indecency.
            </p>

            <hr class="my-4" />

            <p>
                The Free Thought Project is an initiative to
                promote freedom of speech while rescpecting the anoymity
                of the writer.
            </p>







            <div class="lead">
                <a class="btn btn-primary btn-lg my-3" href="create" role="button">
                    Create Post
                </a>
            </div>

            <div class="lead">
                <a class="btn btn-primary btn-lg my-3" href="posts" role="button">
                    See Others' Posts
                </a>
            </div>

            <div class="lead">
                <a class="btn btn-primary btn-lg my-3" href="howto" role="button">
                    How to use
                </a>
            </div>
        </div>
    </div>
    <!-- Container Ends -->



    <!-- Footer -->
    <%- include ("./partials/footer.ejs") %>

</body>

</html>