<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include ("./partials/nav.ejs")  %>
    <div class="container">
        <div class="display-3">
            Sorry, <b>This page doesnt exist</b>
        </div>

        <h4 class="mt-5">Click here to return to the home page</h4>

        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/" role="button">
                Home
            </a>
        </p>



    </div>

</body>

</html>